@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

@layer utilities {
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }
  .img-shadow2 {
  filter: drop-shadow(15px 15px 20px #080909);
  }
  .input-style {
    border: 1px solid #9f9494;
    padding: 10px;
    border-radius: 5px;
    height: 41px;
  }
}

.nav-nonehide {
  opacity: 1;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100px);
    opacity: 0;
    
  }
  50% {
    transform: translateX(-20px);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nav-hide {
  animation: slideOut 0.5s ease-in-out;
  opacity: 0;
}

@keyframes slideOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
    
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}



